.todo {
	width: 280px;
	height: 150px;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	float: left;
	
	border: 4px solid #329eff;
	border-radius: 10px;
}

.todo-info {
	height: 60%;
	text-align: left;
}

.todo-content {
	height: 60%;

	display: flex;
	justify-content: space-between;
}

.star-container {
	width: 80px;

	text-align: center;
}

.todo-btn {
	margin: 20px auto;

	display: flex;
	justify-content: space-between;
}

.todo-btn > button {
	width: 130px;
	height: 40px;

	background-color: #ffffff;
}

.remove-btn {
	border: 2px solid red;
	border-radius: 8px;
}

.done-btn {
	border: 2px solid green;
	border-radius: 8px;
}