.header {
	height: 50px;
	padding: 0px 20px 0px 20px;

	text-align: center;

	border-radius: 10px;
	border: 2px solid #329eff;
	background-color: aliceblue;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
